/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 24, 2016, 6:15:42 AM
    Author     : erisfirgilius
*/
.errorMessage {
    font-style: italic;
    color:red;
}
#tree-diagram {
	width:auto;
	padding:0;
	margin:0;
}
	#tree-diagram .treewrap {
		width:auto;
		display:block;
		padding:0;
		margin:0;
	}
	#tree-diagram .lev-1 {
		width:100%;
	}
	#tree-diagram .lev-2,#tree-diagram .lev-3,#tree-diagram .lev-4 {
		width:50%;
                float: left;
	}	
	#tree-diagram  .box-user {
		width:69px;
		border:1px solid #dadada;
		margin:0 auto;
		display:block;
	}
	.box-user .fig-user {
		background:url(../images/bg-user.jpg) no-repeat top center;
		width:69px;
		height:105px;
		display:block;
		margin:0;
		position:relative;
		z-index:1000;
		overflow:hidden;
	}
	.fig-user img {
		height:100%;
		z-index:1010;
		top:0;
		left:0;
	}
	.desc-user {
		height:50%;
		width:100%;
		position:absolute;
		z-index:1010;
		bottom:0;
		left:0;
		text-align:center;
	}
	.desc-user .desc-s {
		font-family: "Open Sans",Helvetica,Arial,sans-serif;
		font-style: normal;
		font-weight: 400;
		color:#727272;
		font-size:9px;
		margin:0;
		display:block;
                height: 12px;
	}
	.desc-user .name-s {
		font-family: "Open Sans",Helvetica,Arial,sans-serif;
		font-style: normal;
		font-weight: 400;
		color:#1f368c;
		font-size:10px;
		margin:2px 0;
		display:block;
                height: 10px;
	}
	.desc-user .tree-s {
		font-family: 'Open Sans';
		font-style: normal;
		font-weight: normal;
		color:#727272;
		font-size:7px;
		margin:2px 0;
		display:block;
	}
	.vLine {
		background:url(../images/dotj.jpg) repeat-y center top;
		display:block;
		margin:0;
		width:auto;
		height:30px;
		clear:both;
	}
        .box-center {
            width: 30%;
            display: block;
            margin: 0 auto;
        }
	.hLine {
		width:50%;
		display:block;
		margin:0 auto;
		border-width:1px 1px 0 1px;
		border-style:solid;
		border-color:#dadada;
		height:30px;
		clear:both;
	}
        
        ul.yiiPager .first, ul.yiiPager .last
        {
            display: inline;
        }
        
        .pull-left {float: left;}
        .pull-right { float: right;}

